<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "ShowMeTheCode" %></title>
    <%= tag :meta, name: "token", content: Phoenix.Token.sign(@conn, Application.fetch_env!(:show_me_the_code, :user_salt), 1) %>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= render @view_module, @view_template, assigns %>
    <%= if Mix.env == :dev do %>
      <script type="text/javascript" src='http://localhost:8080/app.js'></script>
    <% else %>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <% end %>
  </body>
</html>
